* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

html {
  scroll-behavior: smooth;
}

.active {
  border-bottom: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;
  padding: 3rem 3rem 0 0;
  z-index: 2;
}

#navbar img {
  width: 200px;
  height: 70px;
}

.fa-bars {
  color: blueviolet;
  font-size: 2rem;
}

ul,
li,
a {
  display: block;
  margin-left: 1rem;
  text-decoration: none;
  color: #fff !important;
  transition: all 0.4s ease-in-out;
}

.navbar ul {
  display: none;
}

.play-btn {
  animation: pulse_01 2s ease infinite;
  padding: 0.2rem 2rem;
  border-radius: 20px;
}

.git-link a {
  color: blue !important;
  text-decoration: underline black;
  display: inline;
}
@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(22, 20, 20, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.arrow {
  animation: MoveUpDown 1s linear infinite alternate;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 2rem;
}

@keyframes MoveUpDown {
  0%,
  25% {
    bottom: 50px;
  }
  50% {
    bottom: 50px;
  }
  75% {
    bottom: 75px;
  }
  100% {
    bottom: 100px;
  }
}
.wrapper {
  display: flex;
  height: 100vh;
  padding-top: 5rem;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
  justify-content: space-between;
}

.dark a {
  color: #000;
}

.text {
  font-size: 3rem;
  font-weight: 400;
  line-height: 90px;
  color: rgb(255, 255, 255);
  text-align: left;
}

.home {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 1);
  background-size: contain;
  display: flex;
  height: 100vh;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.show {
  display: block;
  z-index: 2 !important;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  padding: 1rem;
  position: absolute;
  top: 15vh;
  right: 0;
}

.show li {
  margin: 2vh 0;
  display: block !important;
  border-bottom: 1px solid #ccc;
  z-index: 999999 !important;
  list-style: none;
}

.hide li {
  display: none;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10rem 1vh 1rem;
  z-index: 1;
  background: linear-gradient(#fbfcf9, #ced1ef, #d2c0c0, #d2d3e2);
}

.abt_img {
  background: url("../img/profilepic.jpg") no-repeat center;
  object-fit: cover;
  height: 50vh;
  width: 75vw;
  color: #fff;
  display: none;
  position: relative;
  left: 30px;
  transform: rotate(20deg);
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);
  margin-bottom: 5vh;
  transition: all 0.4s ease;
}

.project {
  display: flex;
  margin: 2rem 1rem;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.project .description > p {
  margin: 2rem 0;
}

.built-with a {
  padding: 0.5rem 1rem;
  border: 1px solid;
  color: blue;
  margin: 0.5rem 0.5rem 0 0;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}

.built-with a:hover {
  transform: scale(1.1);
}

.built-with a:visited {
  transition: all 0.5s ease-in-out;
}

.project small {
  margin: 0.5rem 0.5rem 0 0;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid;
  color: gray !important;
  transition: all 0.5s ease;
}

small:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.title {
  margin: 0 0 4vh 0;
}
.title::before {
  content: "------ ";
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  opacity: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.overlay:hover {
  opacity: 1;
  transition: all 0.5s ease-in;
}

.overlay a {
  background: #ccc;
  padding: 0.5rem 1rem;
  color: #000;
  text-transform: lowercase;
}

.project_pics {
  width: 100%;
  height: 40vh;
  padding: 5rem 1rem 1rem 1rem;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.5);
}
.profesco {
  background: url("../img/profesco.png") no-repeat;
  height: 33vh;
  background-size: cover;
}

.newsweek {
  background: url("../img/newsweek.png") no-repeat;
  background-size: cover;
}

.mrsoft1 {
  background: url("../img/mrsoftfull.png") no-repeat;
  background-size: cover;
}

.dashboard1 {
  background: url("../img/tododashboard.png") no-repeat;
  background-size: cover;
}

.nonso {
  background: url("../img/nonso.png") no-repeat;
  background-size: cover;
}

.UchennaTUT {
  background: url("../img/capstone.png") no-repeat;
  background-size: cover;
}

.niiflicks {
  background: url("../img/niiflicks.png") no-repeat;
  background-size: cover;
}

.mrsoft2 {
  background: url("../img/mrsoft2.png") no-repeat;
  background-size: cover;
}

.documentation {
  background: url("../img/documentation.png") no-repeat;
  background-size: 100%;
  height: 24vh;
  padding: 2rem 1rem 1rem 1rem;
}

.contacts {
  background: url("../img/contacts.png") no-repeat;
  background-size: cover;
}

.rest {
  background: url("../img/rest.png") no-repeat;
  background-size: cover;
}

.mobilepics img {
  width: 20%;
  position: relative;
  transition: all 0.6s ease;
}

.socials i {
  line-height: 2rem;
  letter-spacing: 0.1rem;
  padding-right: 0.6rem;
  color: #ccc;
}

footer a {
  display: inline-block;
  color: #fff;
}

footer li {
  display: inline-block;
}

footer {
  display: flex;
  color: #000 !important;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .active {
    border-bottom: 2px solid #dcf2b0;
    transform: scale(1.3);
  }
  .show {
    display: inline-block;
    z-index: 1;
    background: none;
    width: auto;
    padding: 0;
    position: static;
  }

  .show li {
    margin: 1rem;
    display: inline-block !important;
    border-bottom: none;
  }

  .hide li {
    display: inline-block !important;
  }

  li:hover {
    transform: scale(1.4);
  }
  .project_pics {
    padding: 2rem 1rem 1rem 1rem;
  }

  .project .description p {
    margin: 0.5rem 0;
  }

  .overlay {
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
  }
  .documentation {
    height: 30vh;
  }

  .niiflicks {
    height: 28vh;
  }

  .fa-bars {
    display: none !important;
  }

  .abt_description {
    display: inline-block;
    width: 50%;
    padding: 2rem;
    border-right: 1px solid;
    border-bottom: 1px solid;
    overflow: auto;
  }

  .abt_img {
    height: 50vh;
    width: 23vw;
    display: inline;
    transition: all 0.5s ease;
  }

  .abt_img:hover {
    transform: rotate(0deg);
    transform: scale(1.1);
  }

  .project {
    margin: 2rem 1rem;
    flex-direction: row;
    align-items: center;
  }

  .project .description {
    width: 100%;
  }

  .project .description > p {
    padding-right: 1rem;
  }

  .portfolio {
    display: flex;
    padding: 11rem 15rem;
  }

  .left {
    margin-right: 2rem;
  }

  hr {
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.3);
    border: 0.1px dotted rebeccapurple;
    margin: 0 15rem;
  }
}
